.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.693848;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.780762;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.759766;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-4.400000px;}
._4{margin-left:-3.332000px;}
._2{margin-left:-1.824000px;}
._5{width:1.947687px;}
._1{width:3.579250px;}
._3{width:5.476000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(0,112,192);}
.fs1{font-size:48.000000px;}
.fs0{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.yb{bottom:91.968033px;}
.ya{bottom:120.768021px;}
.y9{bottom:149.568008px;}
.y8{bottom:178.367996px;}
.y7{bottom:207.167984px;}
.y6{bottom:235.967972px;}
.y5{bottom:264.767975px;}
.y4{bottom:293.567978px;}
.y3{bottom:322.367981px;}
.y2{bottom:351.167978px;}
.y1{bottom:499.037167px;}
.h2{height:31.992188px;}
.h1{height:54.765625px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:270.600037px;}
.x2{left:280.199890px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-5.866667pt;}
._4{margin-left:-4.442667pt;}
._2{margin-left:-2.432000pt;}
._5{width:2.596917pt;}
._1{width:4.772333pt;}
._3{width:7.301333pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.yb{bottom:122.624044pt;}
.ya{bottom:161.024028pt;}
.y9{bottom:199.424011pt;}
.y8{bottom:237.823995pt;}
.y7{bottom:276.223979pt;}
.y6{bottom:314.623962pt;}
.y5{bottom:353.023966pt;}
.y4{bottom:391.423971pt;}
.y3{bottom:429.823975pt;}
.y2{bottom:468.223971pt;}
.y1{bottom:665.382889pt;}
.h2{height:42.656250pt;}
.h1{height:73.020833pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1{left:360.800049pt;}
.x2{left:373.599854pt;}
}
